pydantic==2.6.2
ip2location-io==1.0.0
SQLAlchemy==2.0.27
ua-parser==0.18.0
fastapi==0.110.0
Flask==3.0.3
Flask-Login==0.6.3
a2wsgi==1.10.4
colorlog==6.8.2
bcrypt==4.1.3
jsonschema==4.23.0
PyYAML==6.0.2