body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #2c3338;
}

#mainTable {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
}

table {
    margin: 0 auto;
    text-align: center;
    font-size: 25px;
    width: 1000px;
    color: #ccc;
    border-collapse: collapse;
    overflow: hidden;
}

/* Center all sub tables */
.logTableRow table {
    margin: 0 auto;
}

.logTableRow table {
    width: 90%;
}

table th {
    background-color: #415eac;
    border: 2px solid #ccc;
    padding: 10px;
}

.linkTableRow {
    border: 2px solid #ccc;
}

table td {
    padding: 10px;
}

.linkTableRow td {
    padding: 20px;
}

.logTableRow table td {
    background-color: #3b4148;
    padding: 10px;
}

.logTableRow table tr {
    border: 2px solid #ccc;
}

.linkButton {
    background-color: #3b4148;
    color: #ccc;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-size: 25px;
    border-radius: 5px;
}

.trashBin:hover {
    color: rgb(238, 86, 86);
    cursor: pointer;
    transition: color 0.2s ease;
}

.trashBin:active {
    transform: scale(0.95);
}