.navbar {
  display: flex;
  justify-content: space-between;
  background-color: #3b4148;
  color: white;
  padding: 15px;
}

.link {
  margin: 0 20px;
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: #ccc;
  font-size: 20px;
  font-weight: 600;
}

.link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: #ccc;
  transition: width 0.3s ease;
}

.link:hover::after {
  width: 100%;
}

.circleUp {
  color: rgb(122, 224, 122);
}

.circleDown {
  color: rgb(218, 112, 112);
}

.left {
  margin-left: 50px;
}

.right {
  margin-right: 50px;
}