/* Create the nav and center the span */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #f8f9fa;
}

/* Create the nav links */

span {
    font-size: 35px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
    margin-right: 10px;
}